{% extends 'products/base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}

<div class="col-md-4 mb-4">
    <div class="card">
        <!-- ... -->
    </div>
</div>


    <h1 class="mb-4">Список товаров</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Добавить в корзину</a>
                        <p class="card-text">Цена: {{ product.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
